<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="http://localhost:4000/favicon.ico" />
    <title>Get Date - Date-fns Node Example</title>
  </head>
  <body>
    <div style="text-align: center">
      <h1 style="margin: 0">Formatted Time</h1>
      <h2 style="margin: 0"><%= date %></h2>
    </div>
  </body>
</html>
