<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="http://localhost:4000/favicon.ico" />
    <title>Home - Date-fns Node Example</title>
  </head>
  <body>
    <div style="text-align: center">
      <h1 style="margin: 0">Home</h1>
      <a href="http://localhost:4000/date">
        <h2 style="margin: 0">View Current Time</h2>
      </a>
    </div>
  </body>
</html>
